 <div class="bg-black sticky top-0 z-50">
    <div class="draggable pb-1 pl-0 pr-4 border-b-0 border-b-neutral-200 flex flex-row justify-between items-center bg-white/70 backdrop-blur-md supports-[backdrop-filter]:bg-white/5">
        <div class="flex flex-row items-center bg-black px-2 rounded-none lg:w-56">
            <div aria-hidden="true" class='flex items-center flex-col justify-center bg-black rounded-full'>
                <!-- <IconWebhook width={32} height={32} /> -->
            </div>
            <div class="font--code text-[1.5rem] py-2 px-1 font-extrabold text-white bg-black">Logo</div>
        </div>

        <div>
          @if (hasMain) {
            <div class="flex-none">
              <app-topbar/>
            </div>
          }
          @else {
            <span class="text-primary text-red-600 text-sm font-serif-f">Switch to live mode</span>
          }

        </div>
    </div>
</div>
